{% extends 'base/base.html'%}
{% block title %} Covid Spotter {% endblock %}

{% block content %}
  <div id="main-area">
  <div id="form-user">
    <p class="h1 center">Covid Spotter</p>
    <p class="h6 center">Hecho por Carolina Buil García y Thomas González Saito</p>
    <br>
    <p class="h5 center">Una herramienta de Inteligencia Artificial para identificar pacientes susceptibles de padecer COVID-19 a partir de imagenes de radiografías.</p>
    <br>
    <p>Esta es una aplicación creada por dos alumnos de bachillerato de la escuela Sagrat Cor Diputació de Barcelona como a parte de nuestro trabajo de investigación. 
    No es una aplicación creada per profesionales y es un primer prototipo de este tipo de aplicación, así que toma los diagnosticos con precaución. Al subir tu radiografía, 
    nuestro modelo clasificará la imagen en si se identifica pulmonia o no, y en caso afirmativo enumerará la probabilidad que esta sea COVID-19, otra pneumònia viral,
    una bacterial, una de tipo desconocido o que no haya podido reconocer la imagen.</p>
    <br>
    <p><b>¡IMPORTANTE!</b> Para una mejor predicción te recomendamos que la imagen que subas sea el mismo archivo de la radiografia o un escaneo de esta.
      Además, es necesario que la imagen sea del formato ".jpg",".jpeg" o ".png".</p>
     
    <br><br>
    <p><b>Sube tu imagen y la IA te dará una respuesta en segundos:</b></p>

    <form action="diagnose/" method="POST" enctype="multipart/form-data">
        Imagen:
        <br><br>
        <input type="file" id="x_ray" name="x_ray" accept="image/png, image/jpeg, image/jpg">
        <br>
        <input type="submit" name="submit" value="Envia">
    </form>
  </div>
  </div>
{% endblock %}
