{% extends 'base/base.html' %}

{% block content %}
<div id="main-area" style="display: flex;">
  <div id="form-user" class="bring-to-top">
    <p class="h2">Covid Spotter: Resultado</p>
    <br><br>
    <p class="h3">Inspección de la imagen: <!--{{ data["name"] }}--></p>
    <br><br>
    <p class="h5 center">¿Tengo COVID-19?</p>
    <ul id="summary-list">
      {% if data["binary"] < 50 %}
        <li>El modelo ha detectado que <b>estás sano</b> (probabilidad menor al 50%).
          <br><br>
          Concretamente, la probabilidad de sufrir neumonía según nuestra IA es de <b>{{data["binary"]}}%</b>.</li>
          </ul>
  
      {% else %}
          <li>El modelo ha detectado que tienes una <b>alta probabilidad de sufrir una pulmonía</b>. 
          <br><br>
          Concretamente, la probabilidad de sufrir neumonía según nuestra IA es de <b>{{data["binary"]}}%</b>. Te recomendamos que hagas una ojeada a la clasificación más detallada.</li>
          </ul>
          <br>
          <p class="h5 center">Desglosamiento de la probabilidad por tipos</p>
            <ul id="summary-list">
            {% for cat_name, prob in data["dict_probs"].items() %}
              <li><b>{{cat_name}}</b>: {{prob}} %</li>
            {% endfor %}
             </ul>
           
      {% endif %}
    
  </div>
</div>
{% endblock %}
